@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800&display=swap');

.pokemon-thumbnail-container {
  margin: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  color: black;

  background: repeating-linear-gradient(
    45deg,
    rgba(223, 206, 48, 0.7),
    rgb(223, 205, 48, 0.7) 10px,
    rgb(200, 205, 48, 0.7),
    rgb(200, 205, 48, 0.7) 12px
  )
}

.pokemon-thumbnail-container:hover {
  background-color: rgba(137, 43, 226, 0.788);
}

.pokemon-thumbnail-container h3 {
  color: rgb(0, 0, 0);
  font-family: 'Saira Condensed', sans-serif;
  text-align: center;
}